@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

:root {
  --color-slate: #4D5562;
  --color-white: #F9FAFB;
  --color-light-gray: #D2D5DA;
  --color-dark-slate: #394150;
  --color-black: #040711;
  --color-blue: #263FA9;
  --color-light-blue: #7CA9F3;
  --color-semi-black: #121826CC;
  --color-semi-dark: #212936CC;

  --text-small: 0.75rem; /* 12px */
  --text-medium: 0.875rem; /* 14px */
  --text-normal: 1rem; /* 16px */

  font-family: "DM Sans", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-white);
  background-color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 800;
  display: inline-block;
  color: var(--color-light-gray);
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border-radius: 12px;
  padding: 6px 10px;
  cursor: pointer;
}
a:hover {
  color: var(--color-white);
  background-color: var(--color-slate);
}

body {
  background-image: url('./assets/images/hero_img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button:not(.clear) {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 800;
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:not(.clear):hover {
  border-color: var(--color-light-blue);
}
button:not(.clear):focus,
button:not(.clear):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.secondary{
  background-color: transparent;
  color: var(--color-slate);
  border: 1px solid var(--color-slate);
  padding: 8px;
}

button.secondary:hover {
  background-color: var(--color-slate);
  color: var(--color-white);
}

button.secondary:hover svg{
  stroke: var(--color-white);
  fill: var(--color-white);
  color: var(--color-white)
}

.dropdown{
  overflow: hidden;
  background-color: var(--color-white);
  border: 1px solid var(--color-slate);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
  border-radius: 0.375rem;
  margin-top: 0.5rem;
}

.dropdown a{
  font-weight: 800;
  display: block;
  color: var(--color-slate);
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border-radius: 0;
  padding: 6px 1rem;
}

.dropdown a:hover{
  background-color: var(--color-light-gray);
}

@media (width <= 768px){
  body {
    background-image: url('./assets/images/hero_img-sm.jpg');
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color-white);
  }
}
